<html>
    <head>
        <title>Info Page</title>  
        <title>This is the info page:</title>
    </head>
    <body>
    <h1>Regular hours</h1>
    <p>We are open 24 hours everyday!</p>
    <h1>Tournament dates</h1>
    <p>The first day of every month</p>
    <h1>Bowling alley bar menus</h1>
    <p>Beer and pizza</p>
    </body>
</html>